# fly.toml app configuration file generated for cutaboveshop on 2025-09-13T19:28:11-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cutaboveshop'
primary_region = 'ewr'

[build]
  [build.args]
    VITE_API_URL = 'https://cutaboveshop.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
